<header class='navbar navbar-fixed-top'>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '利用規約', root_path %></li>
        <li><%= link_to '新規アカウント作成', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    </nav>
  </div>
</header>