<header class='navbar navbar-fixed-top'>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '利用規約', root_path %></li>
      </ul>
    </nav>
  </div>
</header>